/*==============RESET==============*/
*{
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;  }
  body {background-color: #252525;}
  a {text-decoration}
  ul {list-style: none;}
  img {max-width:100%;}

  /*==============HEADER==============*/

  .cabecalho{
    width: 100%;
    float: left;
    padding: 3% 4%;
    
  }
  .container{
    background-color: #3c3a3a;
    width: 100%;
    height: 15%;
    padding: 2%;
    border-radius: 10px;
  }
  .logo{
    width: 56px;
    height: 56px;
    float: left;
    background:url(../Imagens/Isadora-personal.png) center center/56px no-repeat ;
    font-size: 0;
    cursor: pointer;
    margin-left: 1%;
  }
.btn-menu{
  width: 56px;
  height: 56px;
  float: right;
  text-align: center; 
  border-radius: 56px;
  cursor: pointer;
  background:linear-gradient(to right,#d44c24,#FFAE00);
  
}
.social-icons-header{
 display: inline-block;
  text-align: center;
  width: 60%;
  padding: 4% 3% 4% 9%;
  
  
  
}
.social-icons-header a{
  
  font-size: 1.5em;
  color: #ffae00ba;
  margin-right: 3%;
  
}
.social-icons-header a:hover{
  color: #FFAE00;
}
.social-icons-header a:last-child{
  margin-right: 0;
}

/*==============MENU==============*/

.menu{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  display: none;

}
 .btn-close{
   font-size: 1.5em;
   color: #fff;
   float: right;
   cursor: pointer;
   margin: 3% 4% 0 0;

 } 

 .menu ul{
   width: 100%;
   float: left; 
   text-align: center;

 }
 .menu li{
   padding:1.5%;
 }

 .menu li a {
   font-size: 2em;
   color: #fff;
   padding: 1.5% 3%;
   text-decoration: none;

 }

 .menu li a:hover{
   border: 1px solid #FFAE00;
 }

 /*==============MENU==============*/

 .banner{
  margin-top: 3%;
  width: 100%;
  text-align: center;
  float: left;
  padding: 3% 4%;
  background-image: url(../Imagens/bg.header.png);
  background-size: cover;
  
  
  

 }
 .nomes-banner h2{
   font-weight: 700;
   font-size: 0.7em;
   line-height: 2em;
   text-transform:uppercase ;
 }
 .nomes-banner{
   
  float: right;
  text-align: right;
  color: #FFAE00;
 }
.banner-control{
  display: block;
  width:100%;
  height: 100%;

}
 .isadora-logo{
  margin-left: 4%;
  margin-top: 5%;
  width: 40%; 
  background: linear-gradient(to right,#0e0e0e59,#ffae0000)
  
 }
 .nomes-banner{
  font-family: 'Lato', sans-serif;
  font-size: 1em;
   
 }

 /*==============Servicos==============*/

 .servicos{
   width: 100%;
   float: left;
   padding: 3% 4%;
   
 }

 .servico{
   
   width: 100%;
   background-color:#3c3a3a;
   text-align: left;
   border-radius: 7px;
   margin-bottom: 3%;
 }
 .servico img{
   border-radius: 7px;
 }

 .inner{
   
   padding: 7%;
 }
 .inner a{
   font-size: 1.5em;
   text-decoration: none;
   font-weight: 700;
   color: #fff;}
   

 .inner h4{
  font-size: 1.2em; 
  margin-top: 2%;
  color: #FFAE00;
 }
 
 
 .inner p{
  margin-top: 6%;
  line-height: 1.5em; 
  color: #FFAE00;
 }

  /*==============newsletter==============*/
.newsletter{
  width: 100%;
  float: left;
  padding: 3% 4%;
  text-align: center;
  background:linear-gradient(to right,#d44c24,#FFAE00);
}
.newsletter h2{
  font-size: 1.5em;
  color:#fff;
  font-weight: 700;
  
}
.newsletter h3{
  color:#131212;
  

}

.newsletter form{
  margin-top: 2%;
}

.newsletter input{
  width: 100%;
  border-radius: 5px;
  color: #fff;
  background:linear-gradient(to right,#d44c24,#FFAE00);
  border: solid 1px #fff;
  padding: 5%;
}

.newsletter button{
  width: 100%;
  background-color: #3c3a3a;
  color: #fff;
  padding: 5%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2%;
}

/*==============FOOTER==============*/
.rodape{
  background-color: #3c3a3a;
  float: left;
  width: 100%;
  padding: 3% 4%;
  text-align: center;
}


.social-icons a{
  font-size: 1.5em;
  color: #ffae00ba;
  margin-right: 3%;
}
.copy{
  font-size: 0.8em;
  color: #fff;
}
.social-icons a:hover{
  color: #FFAE00;
}
.social-icons a:last-child{
  margin-right: 0;
}

/*================informaçoes saude=====================*/

.box-info{
  width: 100%;
  padding: 3% 4%;
  
}
.clear{
  clear: both;
}

.info{
  background-color: #fff;
  width: 100%;
  padding: 3% 4%;
  margin-bottom: 2%;
  border-radius: 10px;
  border: 2px solid #FFAE00;
  line-height: 1.5em;
  
}
.info:hover{
  transition: 1s;
}

.info h2{
  font-size: 1.5em;
  color: #FFAE00;
  font-weight: 700;
  margin-bottom: 5%;
}


  